body {
    font-family: sans-serif;
    background-color: aqua;
}
h1, h2, h3, h4, h5, h6 {
    color: hotpink
}

.sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.plot {
/* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 20px;
  margin-left: 10px;
  height: 65%;
}

.section_a{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.section_b {
    margin-right: 10px;
    display: flex;
    justify-content: center;
}